<!-- Arc Reactor -->
<div id="arc_container">
    <div class="arc_reactor">
        <div class="case_container">
            <div class="e7">
                <div class="semi_arc_3 e5_1">
                    <div class="semi_arc_3 e5_2">
                        <div class="semi_arc_3 e5_3">
                            <div class="semi_arc_3 e5_4"></div>
                        </div>
                    </div>
                </div>
                <div class="core2"></div>
            </div>
            <ul class="marks">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>

<!-- Left Menu -->
<div id="leftmenu">
    <p class="title"></p>
    <div class="hline title_underline"></div>

    <div class="menu">
        <a href="/assistente-mobile">
            <button class="menuitem"><span class="entypo-right-open"/>
                <p class="caption">App Mobile</p>
            </button>
        </a>
    </div>
</div>

<!-- Right Menu -->
<div id="rightmenu">
    <div class="esquerda_1">
        <div class="esquerda_11">
            <div id="date_time">
                <div id="date" class="semi_arc e4">
                    <div class="semi_arc_2 e4_1">
                        <div class="counterspin4"></div>
                    </div>
                    <div style="font-size: 40px; margin-top: 25px;" id="dia"></div>
                    <div style="font-size: 20px;" id="mes"></div>
                    <div style="font-size: 10px; margin-top: 5px;" id="dia_semana"></div>
                </div>
                <div id="time" class="arc e1">
                    <div style="font-size: 28 px; margin-left: 0px; margin-top: 25px;" id="horas_minutos"></div>
                    <div style="font-size: 17px; margin-left: 0px; margin-top: 0px; display; inline;"
                         id="segundos"></div>
                </div>

                <!--Script Data e Horas-->
                <script>
      setInterval(refresh, 1000)

	  function refresh(){
	    var data = new Date();

        document.getElementById("dia").innerHTML = data.getDate();

        var mes = data.getMonth();
        switch(mes) {
          case 0:
            document.getElementById("mes").innerHTML = "Janeiro";
            break;
          case 1:
            document.getElementById("mes").innerHTML = "Fevereiro";
            break;
          case 2:
            document.getElementById("mes").innerHTML = "Março";
            break;
          case 3:
            document.getElementById("mes").innerHTML = "Abril";
            break;
          case 4:
            document.getElementById("mes").innerHTML = "Maio";
            break;
          case 5:
            document.getElementById("mes").innerHTML = "Junho";
            break;
          case 6:
            document.getElementById("mes").innerHTML = "Julho";
            break;
          case 7:
            document.getElementById("mes").innerHTML = "Agosto";
            break;
          case 8:
            document.getElementById("mes").innerHTML = "Setembro";
            break;
          case 9:
            document.getElementById("mes").innerHTML = "Outubro";
            break;
          case 10:
            document.getElementById("mes").innerHTML = "Novembro";
            break;
          case 11:
            document.getElementById("mes").innerHTML = "Dezembro";
            break;
          default:
            document.getElementById("mes").innerHTML = "Erro";
            break;
       }

      var dia_semana = data.getDay();
      switch(dia_semana) {
        case 0:
          document.getElementById("dia_semana").innerHTML = "Domingo";
          break;
        case 1:
          document.getElementById("dia_semana").innerHTML = "Segunda-Feira";
          break;
        case 2:
          document.getElementById("dia_semana").innerHTML = "Terça-Feira";
          break;
        case 3:
          document.getElementById("dia_semana").innerHTML = "Quarta-Feira";
          break;
        case 4:
          document.getElementById("dia_semana").innerHTML = "Quinta-Feira";
          break;
        case 5:
          document.getElementById("dia_semana").innerHTML = "Sexta-Feira";
          break;
        case 6:
          document.getElementById("dia_semana").innerHTML = "Sabado";
          break;
        default:
          document.getElementById("dia_semana").innerHTML = "Erro";
          break;
      };

	    document.getElementById("horas_minutos").innerHTML = data.getHours() + ":" +  data.getMinutes();
		document.getElementById("segundos").innerHTML = data.getSeconds();
	  };
                </script>
            </div>
        </div>
    </div>

    <!-- Habilitar sintetização de Voz-->
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>


    <script>
            const endereco_ip_assistente = "127.0.0.1:7000";
            const endereco_ip_raspberry = "192.168.0.104:80";

            // Quando tudo estiver carregado
             window.onload = function () {
                // Boas Vindas
                responsiveVoice.speak("Ativada!", "Brazilian Portuguese Female", {pitch: 1, rate: 1});
                // Faz requisição de

                verificarFalando = setInterval( function(){
                    if(responsiveVoice.isPlaying()){
                        console.log("Falando");
                    } else {
                        console.log("Não Falando");
                        clearInterval(verificarFalando);
                        escutar();
                    }
                 },1000);

                 // necessário para alterar o arco central
                 verificarFalando2 = setInterval( function(){
                    if(responsiveVoice.isPlaying()){
                        console.log("Falando2");
                        $('.arc_reactor').css({ 'box-shadow' : '0px 0px 55px 20px rgba(2, 255, 255, 0.5), inset 0px 0px 55px 20px rgba(2, 255, 255, 0.5)', });
                    } else {
                        console.log("Não Falando2");
                        $('.arc_reactor').css({ 'box-shadow' : '0px 0px 50px 15px rgba(2, 255, 255, 0.3), inset 0px 0px 50px 15px rgba(2, 255, 255, 0.3)', });
                    }
                 },500);

                 verificarFalando2;

             }

             function processarEntrada(frase){
                jQuery.ajax({
                    url: 'http://127.0.0.1:7000/processar/'+frase,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (resposta){
                        falar(resposta)
                    }
                });
            }

            // Faz requisição de
            function processarComando(frase){
                jQuery.ajax({
                    url: 'http://127.0.0.1:7000/comando/'+frase,
                    type: 'get',
                    contentType: 'application/json',
                    success: function (resposta){
                        falar(resposta)
                    }
                });
            }

            // Sintetizar a voz
            function falar(resposta){
                responsiveVoice.speak(resposta, "Brazilian Portuguese Female", {pitch: 1, rate: 1});
                $("#resposta").fadeTo(0, 1);
                mostrarResposta(resposta);
                verificarFalando;
            }

            function mostrarResposta(resposta){
              document.getElementById("resposta").innerHTML = "";
              var txtTitulo = resposta;
              var txt1 = document.getElementById("resposta");
              var speed = 100;
              var cont = 0;
              function typeWriter () {
                if(cont < txtTitulo.length){
                  txt1.innerHTML +=  txtTitulo.charAt(cont) ;
                  cont++;
                  setTimeout(typeWriter, speed);
                 }else{
                   cont = 0;
                   $("#resposta").fadeTo(4500, 0.0);
                 }
                }
               typeWriter();
            };

            // Modificado. Sem a espera do carregamento da página como antes
            function escutar(){
                    var speech = window.SpeechRecognition || window.webkitSpeechRecognition
                    var recognition;
                    try {
                        recognition = new SpeechRecognition();
                    } catch (error) {
                        recognition = new webkitSpeechRecognition();
                    }
                    recognition.continuous = true;
                    recognition.start();
                    recognition.addEventListener('result', function (e) {
                        setTimeout(function () {
                            console.log(e.results[e.resultIndex][0].transcript)
                            var result = e.results[e.resultIndex][0].transcript.trim();
                            document.getElementById("falou").innerHTML = result;
                            // Simular o OKGoogle mas com "zero"

                            if (result == "Sandy") {
                                // Chamada da assistente
                                responsiveVoice.speak("Pois sim...", "Brazilian Portuguese Female");
                                mostrarResposta("Pois sim...");
                                window.auxiliar = true;
                                $("#resposta").fadeTo(0, 1);
                                $("#resposta").fadeTo(4000, 0.0);
                                verificarFalando;
                            } else if (window.auxiliar == true){
                                // Intenções e Emoções
                                 window.auxiliar = false;
                                 processarEntrada(result);
                            } else if ((result.split(' ')[0] == "comando") || (result.split(' ')[0] == "Comando")){
                                 // Comandos de navegação
                                 resposta = processarComando(result);
                            } else {
                                 console.log("Ignorou - Quando eu falar qualquer coisa sem chamá-la");
                                 // Ignore
                                 // Exige que chame o assistente
                            }
                        }, 50)
                    }, false);
                    if (window.SpeechRecognition || window.webkitSpeechRecognition) {
                    } else {
                        alert('Este navegador não suporta esta funcionalidade.');
                    }

                    // Reiniciar a API para escutar constantemente
                      recognition.onend = function() {
                      console.log("Reiniciando Escutar");
                      escutar();
                    };
                }

    </script>


    <div class="chat">
        Diga Algo:
        <span id="falou"></span>
    </div>
    <div style="background-color:#FFFFFF;
    height: 100px;
    display: table;
    padding: 10px;
    border-radius: 10px ;
    position-fixed: top">

    </div>


</div>


</div>


<script type="text/javascript">

  </script>

<div>
    <span class="textoFalar css-typing" id="resposta"></span>
</div>


<div class="baixo">

    {% include 'mostrar-sensores.html' %}
    <!--
    //document.getElementById("resposta").innerHTML = resposta;
    $("#resposta").fadeTo(0, 1);
    $("#resposta").fadeTo(4500, 0.0);
    -->
</div>

